
.DS_Store
~/

Dapp/EthbayDappHtmlAndEvents/node_modules
Dapp/EthbayDappHtmlAndEvents/src/abis

Dapp/EthbayDappReact/node_modules
Dapp/EthbayDappReact/src/abis

Dapp/Smart_City_Contract/node_modules
Dapp/Dapp/Smart_City_Contract/src/abis

output.avi

LiDARDatasets/*