
.DS_Store
~/

Dapp/EthbayDappHtmlAndEvents/node_modules
Dapp/thbayDappHtmlAndEvents/src/abis

Dapp/EthbayDappReact/node_modules
Dapp/EthbayDappReact/src/abis

Dapp/Smart_City_Contract/node_modules
Dapp/Smart_City_Contract/src/abis

LiDARScripts/output.avi

LiDARScripts/LiDARDatasets/*